/node_modules
/public/hot
/public/storage
/public/vendor
/public/media/**/*.*
/storage/*.key
/storage/media-library/temp/**/*.*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
