version: '3'
services:
  app:
    build:
      context: .
    restart: unless-stopped
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - ./:/var/www

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./:/var/www
      - ./docker/nginx/:/etc/nginx/conf.d/
    ports:
      - "80:80"
      - "443:443"

  redis:
    image: redis:latest
