[mysqld]
# General
default-authentication-plugin = mysql_native_password
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Connection
max_connections = 200
max_connect_errors = 1000000

# InnoDB
innodb_buffer_pool_size = 256M
innodb_redo_log_capacity = 134217728
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT

# Performance
tmp_table_size = 64M
max_heap_table_size = 64M
table_open_cache = 2000

# Logs
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4 